
a.event, a.event:hover{
    background-color:white;
    padding:0;
    color:black;
    text-decoration:none;
}

div.eventLocation{
    white-space:normal;
    color:rgb(42, 117, 25);
}

span.fc-time {
    display: block;
    background-color: rgb(176, 39, 8);
    color:white;
    width:100%;
}

span.fc-title{
    display:block;
    color:rgb(176, 39, 8);
    font-weight:bolder;
    font-size:1.2rem;
}

span.fc-day-number{
    color:black;
}

td.fc-widget-content{
    background-color:white;
    color:black;
}

td.fc-day{
    border-left:dotted 1px rgb(221, 221, 221);
    border-right:dotted 1px rgb(221, 221, 221);
    border-top:dotted 1px rgb(221, 221, 221);    

}

.fc-widget-header {
    background-color:rgb(8, 89, 176);
    color:white;
}

.fc-content-skeleton table{
    background-color:white;
}

.fc-event {
    border: solid 1px rgb(176, 39, 8);
    padding:0;
    margin-bottom:5px;
}

.fc-content-skeleton table thead tr td.fc-day-top{
    border-left:solid 1px rgb(221, 221, 221);
    border-right:solid 1px rgb(221, 221, 221);
    border-top:solid 1px rgb(221, 221, 221);    
}

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td
{
    border-left:solid 1px rgb(221, 221, 221);
    border-right:solid 1px rgb(221, 221, 221);
    border-top:solid 1px rgb(221, 221, 221);    
}

.fc-unthemed td.fc-today{
    border:solid 1px rgb(221, 221, 221);
}