@import url(https://fonts.googleapis.com/css?family=Lato:700,900,300,400|Merriweather:300,300italic,700);
body { padding-top: 50px; }
h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  /*text-transform:uppercase;*/
}

a{
    color:rgb(176, 39, 8);
    text-decoration:none;
}

a:hover{
    color:rgb(176, 39, 8);
    text-decoration:underline;
}

p,li,blockquote {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 1.111em;
  line-height: 175%;
  color: #1a1a1a;
}

p{
    text-align:justify;
}

section{
    margin-bottom:20px;
}

.fixture{
    margin: 5px 5px 5px 5px;
    border: solid 1px rgb(200,200,200);
    padding-bottom: 8px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.06);
}

.fixture-address{
    color:rgb(36, 91, 23);
    font-size:12px;
}

.fixture-date{    
    border:solid 1px rgb(200, 200, 200);
    border-radius:5px;   
    float:left;
    font-size:12px;
    font-weight:600;
    margin:5px 5px 0px 5px;
    text-transform:uppercase;
}

.fixture-date span{    
    display:block;
    padding:1px 10px 0px 10px;
    text-align:center;
}

.fixture-day{
    font-size:15px;
}

.fixture-month{
    background-color:rgb(176, 39, 8);
    color:white;
}

.fixture-time{
    font-size:12px;
    font-weight:600;
}

.fixture-title{
    padding-top:5px;
    font-size:15px;
    font-weight:600;
}

.hero {
    background: url(../images/hero@2x.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}
.hero h1{
    color:  white;
    text-shadow: 1px 1px 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight:500;
    background-color:rgba(0,0,0,0.4);
    border-radius:4px;    
}
  
.hero .container{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
.mapola-logo {
    max-width: 320px;
    padding-left: 100px;
}
.osa-logo{
    max-width: 100px;
    vertical-align:top;
}
.canada-logo {
    max-width: 100px;
    margin-left: 20px;
    vertical-align:top;
}
.ltpd-logo {
    max-width: 200px;
    padding-top: 20px;
}

.panel{
    background-color:rgba(255,255,255,0.4) !important;
}

.thumbnail{
    background-color:rgba(0,0,0,0);
    border:none;
}

.testimonial{
    text-align:center;
    margin-bottom:15px;
}

.testimonial p{    
    border-radius:5px;
    font-style: italic;
    line-height:22px;    
    margin: auto;    
    padding: 10px;    
}

.testimonial p:after{
    font-size: 40px;
    content: "\201D";
    bottom:-0.5em;
}

.testimonial p:before{
    font-size: 40px;
    content: "\201C";
}

/* Carousel Fade Effect */
.slider{
    min-height: 275px; 
    max-height: 275px; 
}

.carousel.carousel-fade .item {
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
	opacity: 0.85;
}
.carousel.carousel-fade .active.item {
	opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
    transform:translate3d(0,0,0);
}

.carousel h2, .carousel h1{
    color:white;
    background-color:rgba(0,0,0,0.4);
    padding:0;
    border-radius:5px;
    font-weight:500;
}

/*end carousel*/

.media{
    padding:10px 5px 10px 5px;
}

.media > .media-left > img{
    max-height:80px;
}

/* Navbar */
.navbar-brand>img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 40px;
    position: relative;
    top: -10px;
}
.navbar-default {
    background-color: rgb(8, 89, 176);
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    color: #f2f2f2;
    font-size: 14px;
    font-weight:600;
    transition: 0.4s;
    text-decoration:none;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #f2f2f2;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #f2f2f2;
    text-decoration:underline;
    transition: 0.1s;
}
.dropdown-menu>li>a{
    font-size: 14px;
    font-weight:400;
    transition: 0.4s;
    text-decoration:none;
}

.dropdown-menu>li>a:hover{
    font-size: 14px;
    font-weight:400;
    text-decoration:underline;
}

@media screen and (min-width: 992px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: black;
    }

    .dropdown-menu>li>a{
        color: #f2f2f2;
    }
    .dropdown-menu>li>a:hover{
        color: #e60d2e;
        text-decoration:underline;
    }

    .carousel-overlay {
	    position: absolute;
	    top: 285px;
	    right: 0;
	    left: 0;
    }

    .carousel h2{
        font-size:1.75em;
    }
    .slider{
        min-height: 475px; 
        max-height: 475px; 
    }
}

@media screen and (max-width: 991px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: black;
    }
    .dropdown-menu>li>a{
        color: #f2f2f2;
    }
    .dropdown-menu>li>a:hover{
        text-decoration:underline;
    }
    .carousel-overlay {
	    position: absolute;
	    top: 235px;
	    right: 0;
	    left: 0;
    }

    .carousel h2{
        font-size:1.75em;
    }

    .slider{
        min-height: 400px; 
        max-height: 400px; 
    }
}

@media screen and (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #f2f2f2;
    }
    .dropdown-menu>li>a{
        color: #f2f2f2;
    }
    .dropdown-menu>li>a:hover{
        text-decoration:underline;
    }
    .carousel-overlay {
	    position: absolute;
	    top: 175px;
	    right: 0;
	    left: 0;
    }
    
    .carousel h2{
        font-size:1.5em;
    }

    .slider{
        min-height: 350px; 
        max-height: 350px; 
    }
}

@media screen and (max-width: 640px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #f2f2f2;
    }
    .dropdown-menu>li>a{
        color: #f2f2f2;
    }
    .dropdown-menu>li>a:hover{
        text-decoration:underline;
    }
    .carousel-overlay {
	    position: absolute;
	    top: 120px;
	    right: 0;
	    left: 0;
    }

    .carousel h2{
        font-size:1.2em;
    }

    .slider{
        min-height: 275px; 
        max-height: 275px; 
    }
}

/* Blog */
.blogsectionpart {
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.blogsectionpart .vc_column_container>.vc_column-inner {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.blog-post{
    border:solid 2px white;
    border-radius:2px;
	display:inline-block;
	height: 200px;
    background-color:rgba(0,0,0,0.9);
}

.blog-section { width:100%;}
.blog-section h1,.contact-form-wrapper h1 {  font-size:45px; margin-bottom:30px; color:#232323;}
.blog-section h1 span,.contact-form-wrapper h1 span { display:block; color:#969696; font-size:14px; font-weight:400; padding-bottom:23px; text-transform:none;}
.blog-section .half-box,.contact-form-wrapper .half-box { margin:auto;}
.blog-section .heading-title h1:after,.contact-form-wrapper h1:after { right:0; margin:auto;}


.blog-caption { padding:2px 0 0 0; float:left; width:100%;}
.blog-caption span {color:#fff; font-size:13px; font-weight:600; display:block;  background-color:rgba(0,0,0,0.4)}
.blog-caption h2 { color:#fff; font-size:18px; font-weight:600;  padding:5px 0px 5px 0px;  background-color:rgba(0,0,0,0.4)}
.blog-caption p { color:black; letter-spacing: 2px; font-size: 12px; text-align:center;font-weight:800;background-color:rgba(255,255,255,0.8)}
.blog-caption .button { font-size: 15px;  font-weight: 700;  background: #0859a6;  padding: 14px 19px 13px 19px;  margin-top: 26px;  }



/* Footer */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Lato', sans-serif;}
footer img{
    max-height:80px;
    margin:10px 10px 10px 10px;
}


.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}
.logofooter .mapola-logo {
    max-width: 120px;
    padding-left: 0px;
    margin: 0 auto;
    float: left;
    display: inline-block;
    padding-right: 20px;
}
.footerleft p { color:#fff; font-size:12px !important; font-family: 'Lato', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#d61c38; }
.footer-ul li {
    line-height: 29px;
    font-size: 12px;
    display: inline-block;
    padding-left:10px;
    padding-right:10px;
}

 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;margin-top:20px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}


 /* News Grid */
 .grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

/*---------------*/
/***** hover effect boxes *****/
/*---------------*/



.effect-lily h2,
.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.effect-lily p {
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.effect-lily:hover img,
.effect-lily:hover p {
	opacity: 1;
}

.effect-lily:hover img,
.effect-lily:hover h2,
.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/*.blog-post:hover {
    	-webkit-transition-delay: 0.10s;
	transition-delay: 0.10s;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
    background-size:110%;
}*/


blockquote {
border:none;
font-family: Georgia, Times, serif;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
position: relative;
color: #383838;
text-align:center;
}

blockquote:before {
display: block;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: rgba(0,0,0,0.4);
font-size: 14px;
font-weight:600;
display: block;
margin-top: 5px;
}


/*Ticker Notifications*/
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {  
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgb(176, 39, 8);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100vw;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.75rem;
  color:white;
}