<article class="container">
    <h1>Mapola FC Staff</h1>
    <ul class="list-group" style="border:none;">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Kyrese Lynch-Bailey</h4>
            <p>TFC Academy</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Lucia Valdez</h4>
            <p>OUA scholarship Laurentian University</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Hannah Christophe</h4>
            <p>scholarship Nova Southern University</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Kamia Edwards</h4>
            <p>OAU scholarship Ryerson University</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Rachel Sheppard</h4>
            <p>OAU Scholarship Laurentian University</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Larin Casandra</h4>
            <p>US</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Bent Cheyenne</h4>
            <p>Carleton University</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Moreira Sierra-Lynn</h4>
            <p>Laurentian University</p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Alphonse Jeanine</h4>
            <p>Canada</p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Ramos Victoria</h4>
            <p>University of Laurier</p>
        </li>

        <li class="list-group-item">
            <h4 class="list-group-item-heading">Vaglixa Julia</h4>
            <p>York Univerity</p>
        </li>
    </ul>    
</article>

@section headerlinks{
    <style>
        ul.list-group li.list-group-item{
        border:none;
        }
    </style>
}