<h2>Administration</h2>
<ul>    
    <li><a asp-area="" asp-controller="AdminEvents" asp-action="Index" title="Admin">Events</a></li>
    <li><a asp-area="" asp-controller="AdminNews" asp-action="Index" title="Admin">News</a></li>
    <li><a asp-area="" asp-controller="AdminTeams" asp-action="Teams" title="Admin">Teams</a></li>
</ul>