<div class="container">
    <h1>Administration</h1>
    <ul>
        <li><a asp-area="" asp-controller="AdminEvents" asp-action="Index" title="Events">Events</a></li>
        <li><a asp-area="" asp-controller="AdminContacts" asp-action="Index" title="Inbox">Inbox</a></li>
        <li><a asp-area="" asp-controller="AdminNews" asp-action="Index" title="News">News</a></li>
        <li><a asp-area="" asp-controller="AdminNotifications" asp-action="Index" title="Notifications">Notifications (ticker)</a></li>
        <li><a asp-area="" asp-controller="AdminTeams" asp-action="Teams" title="Teams">Teams</a></li>        
    </ul>
</div>