<div class="container">
    <h1>Administration</h1>
    <ul>
        <li><a asp-area="" asp-controller="AdminEvents" asp-action="Index" title="Admin">Events</a></li>
        <li><a asp-area="" asp-controller="AdminNews" asp-action="Index" title="Admin">News</a></li>
        <li><a asp-area="" asp-controller="AdminTeams" asp-action="Teams" title="Admin">Teams</a></li>
        <li><a asp-area="" asp-controller="AdminContacts" asp-action="Index" title="Admin">Inbox</a></li>
    </ul>
</div>