<article class="container">
    <h1>Documents</h1>
    <p>Click on a document to open or download it.</p>
    <ul class="list-group" style="border:none;">
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ConcussionPolicy.pdf">Concussion Policy</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Curriculum.pdf">Curriculum</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/FinancialContract.pdf">Financial Contract</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/HarassmentPolicy.pdf">Harassment Policy</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/LiabilityWaiver.pdf">Liability Waiver</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ModelAndImageReleaseAgreement.pdf">Model and Image Release Agreement</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ParentCodeOfConduct.pdf">Parent Code of Conduct</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/PlayerCodeOfConduct.pdf">Player Code of Conduct</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/PlayerCommitmentAgreement.pdf">Player Commitment Agreement</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/UniformsPolicy.pdf">Uniforms Policy</a>
        </li>
    </ul>    
</article>

@section headerlinks{
    <style>
        ul.list-group li.list-group-item{
        border:none;
        }
    </style>
}