<article class="container">
    <h1>Documents</h1>
    <p>Click on a document to open or download it.</p>
    <ul class="list-group" style="border:none;">
        <li class="list-group-item">
            <a  target="_blank" rel="nofollow" href="~/forms/Interactive Session Plan 2017.pdf">2017 Interactive Session Plan</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Coach_Evaluation_Form 2016.pdf">2016 Coach Evaluation Form</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ConcussionPolicy.pdf">Concussion Policy</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Curriculum.pdf">Curriculum</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Diet And Nutrition Presentation.pdf">Diet And Nutrition</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/FinancialContract.pdf">Financial Contract</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/HarassmentPolicy.pdf">Harassment Policy</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Keeper Match Self - Evaluation.pdf">Keeper Match Self Evaluation</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/LiabilityWaiver.pdf">Liability Waiver</a>
        </li>

        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/MapolaFCMatchReporting4V4.pdf">Match Reporting 4 vs. 4</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/MapolaFCMatchReporting5V5.pdf">Match Reporting 5 vs. 5</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/MapolaFCMatchReporting7V7.pdf">Match Reporting 7 vs. 7</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/MapolaFCMatchReporting9V9.pdf">Match Reporting 9 vs. 9</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/MapolaFCMatchReporting11v11.pdf">Match Reporting 11 vs. 11</a>
        </li>


        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ModelAndImageReleaseAgreement.pdf">Model and Image Release Agreement</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="http://www.ontariosoccer.net/administration">Ontario Soccer Administrative Documents</a>
        </li>
        
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/ParentCodeOfConduct.pdf">Parent Code of Conduct</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/PlayerCodeOfConduct.pdf">Player Code of Conduct</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/PlayerCommitmentAgreement.pdf">Player Commitment Agreement</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/Player Self Assesment After Match.pdf">Player Self Assesment After Match</a>
        </li>
        <li class="list-group-item">
            <a target="_blank" rel="nofollow" href="~/forms/UniformsPolicy.pdf">Uniforms Policy</a>
        </li>
    </ul>    
</article>

@section headerlinks{
    <style>
        ul.list-group li.list-group-item{
        border:none;
        }
    </style>
}