<article class="container">
    <h1>Mapola FC Staff</h1>
    <ul class="list-group" style="border:none;">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Marcus Laquie</h4>
            <p>
                U12 Boys and Girls Coach<br />License – UEFA A Elite Youth (in progress), UEFA B, National B, Provincial B, UEFA C, Technical Director Diploma Ontario Soccer, Coerver Youth Diploma, Professional Scouts
            </p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Pablo Escobar</h4>
            <p>U13 Coach<br />License – C license </p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Omar Anderson</h4>
            <p>U8 Coach<br />License – C license </p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Rick Titus</h4>
            <p>U15 Coach<br />License – National B </p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Sundin Esperance</h4>
            <p>U11 Head Coach<br />License – LTPD</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Alex Goncalves</h4>
            <p>U11 Assisting Coach <br />License - LTPD</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Daniel Iannarella</h4>
            <p>U9 Coach<br />License – LTPD</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Damian Adamson</h4>
            <p>U10 Coach<br />License – LTPD</p>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">Richard Edwards</h4>
            <p>U14 Coach<br />License - C License</p>
        </li>
    </ul>    
</article>

@section headerlinks{
    <style>
        ul.list-group li.list-group-item{
        border:none;
        }
    </style>
}