<article class="container">
    <h1>Testimonials</h1>
    <h3>Mark Nonis</h3>
    <p>Our son came from a so called academy not wanting to play the sport he loves anymore.  They ruined his confidence so much that he wanted to give up on something he was a natural at. We had to get him out of there, so we did. We went on a journey to find his next club. We went as far as Toronto for try outs. He made every team!</p><p>Then we came across MAPOLA.  Having spoken prior to Marcus before going to tryouts and explaining how my son lost his love and confidence for the game, Marcus was excited for the challenge. At the first practice, he made sure every single player introduced themselves and welcomed my son to the team.  That won my heart let alone the drills during the practice were something I've never seen before.  I was sold but left it up to my son to make his decision. The rest is history and my son is now the capitan of his team!</p>
    <p>Thank you Marcus for everything! You are truly an inspiration. Keep up the good work.</p>
    <h3>Candace Thomas</h3>
    <p>My son started training with Mapola at age 6 with no confidence and very little skill, he is now a star player with a wealth of knowledge and discipline learned over the last two years. Super impressed with Coach Omar and Coach Sundeen both patient, kind, disciplined and motivating! Teaching the kids skill development and strategy. </p>
    <p>They also know and implement the importance of positive, uplifting energy both on the field and in training and always set a good example.</p>
    <p>Go Mapola FC!</p>
    <h3>Christine Lynch</h3>
    <p>Mapola FC has been a strong stepping stone in the development of my son, Kyrese Lynch-Bailey’s, soccer skills over the past 2yrs+.  The Academy is unique because it allows the athletes to have their ‘foot on the ball’ anywhere from 4-6 days per week, averaging a weekly total of 8-12 hours. </p><p>
        As Head Coach and Director, Marcus believes in constant practice which includes training skills, proper technique and overall fitness conditioning.  This is achieved through weekly practices, both in-house and invitational workshops and training camps.
        Coach Marcus is constantly providing opportunities for his athletes.  He advocates that athletes be disciplined in their training, game play and appearance on and off the field.  His goal is to develop all Mapola FC players and coaches that hard work, dedication and focus develops strong soccer players.  He believes in athletes development as well as creating many opportunities as possible.
        My son in particular has always had his own unique passion for soccer.
    </p><p>
        Mapola FC has given him the environment in which to grow as an athlete and receive opportunities from TFC and FC Barcelona in Spain .  My son, my husband and I are thankful that through Mapola FC our son Kyrese will soon realize his dream of becoming a professional soccer player.
        Mapola FC is still a very new club.  Marcus, is one of the most passionate / dedicated coaches (in any sport) that I have ever met. Well educated and with a strong go-getter work ethic Marcus has long term goals / plans to make Mapola FC a club that develops champions.
    </p>
    <h3>Ahron Scott</h3>
    <p>Mapola helps players to develop their skills and the mental side while having fun. They also instill the desire to play the right way at all times.</p>
</article>