@model IndexViewModel

<h2>Administration</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<div>
    <ul>
        <li><a asp-area="" asp-controller="Admin" asp-action="News">News</a></li>
        <li><a asp-area="" asp-controller="Teams" asp-action="Index">Teams</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
    </ul>
</div>