@model IEnumerable<TeamAdmin.Core.Program>

<div class="row">
    <h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">How Mapola FC is different?</h2>
    <p>The Mapola FC Academy system is much broader in player development International exposure and is organized on all level. We instill a passion for the game of soccer by providing instructional and competitive youth opportunities that enhance character, community, respect and love of the game. Our approach provides players not only with the skills necessary to play the game, but the understanding of when and why to apply those skills in a match.  By emphasizing the development of these tactical skills and soccer creativity, our players grow to not only play well, but also understand the game. We strive to create an environment for our players that are fun, educational and challenging.  Mapola FC Academy takes pride in the outstanding developmental growth of our players as athletes, as well as their ability to be exceptional students.</p>
    <p>Another difference is reflected through our program is our approach to the game call the Mapola way meaning 100% effort in anything we do on and off the pitch. No recruiting and training restrictions, the opportunities that our vertically integrated structure in combination with our international partner Scottish giant Celtic FC offers players from youth through the professional levels are something no other single organization in Canada can provide.</p>
    <ul>
        <li>Nutrition</li>
        <li>Dietary recommendation</li>
        <li>Hydration and Recovery provided during and after training</li>
        <li>Technical Skill session</li>
        <li>Strength and conditioning</li>
        <li>International showcase travel for U11-U18</li>
        <li>Year round training AM and PM during summer 3-4 days a week + 1 game</li>
        <li>Player evolution and constant feedback</li>
        <li>Team building retreats</li>
        <li>Video analysis for all ages in class session   </li>
    </ul>
</div>
<div class="row">
    <h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">Programs</h2>
    <p>
        The Mapola FC Academy offers a wide range of Soccer Training, for player in our program and the community. Our primary goal is to provide a platform for players to develop rapidly and be identified. We strive to ensure that players develop at a faster pace through the Mapola FC Academy system by playing against the best competition. Players will learn to excel in a pressurized environment, which should help in preparing players to take the Canadian game to the next level.
        </p>
    <p>
        Other core values include personal improvement, enjoyment of the game, the pursuit of excellence, honesty, integrity, and supporting our diverse community. We strive to assist our players and staff in becoming better individuals on and off the soccer field, both as a teammate and as an individual. This Elite Training is delivered by our Professional Soccer Coaching Staff. The Academy trains all year round at our Indoor and Outdoor Venues. Our primary focus is player development. Academy players are provided with the best opportunity to achieve their potential as an elite soccer player.
    </p>
    <p>
        It is our committment that all academy players will receive at minimum:
        <ul>
            <li>Individual player development plan</li>
            <li>2 report cards with direct review from technical director</li>
            <li>Age specific speed, agility, and quickness sessions</li>
            <li>Strength & conditioning training U10 -18</li>
            <li>Monthly in game video analysis per team class room setting</li>
            <li>Annual nutrients plan for every players plus player recovery and hydration routine after high intensity training and after every game</li>
        </ul>
    </p>
</div>

<div class="row">
    <h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">Playing Philosophy</h2>
    <p>In terms of style of play, MFC believes in generally soccer athleticism – but also on speed of movement and thought. We have a tactical philosophy in a style of play that includes toughness, dispersing the ball rapidly and approaching the game with a high degree of confidence. MFC likes to play soccer by taking the initiative, being a team player and staying positive. We play soccer that is attractive and pleasing to the eye through attacking, passing, shooting, and combination play. However, with that in mind, there remains a certain core player quality that is central to all MFC competitive programs and our mission to develop players who can compete at the highest level. We strive for our players to have:</p>
    <ul>
        <li>Outstanding character</li>
        <li>Highly developed competitive instincts</li>
        <li>Technical excellence</li>
        <li>Very advanced speed of play</li>
        <li>Excellent levels of fitness</li>
        <li>Excellent movement off the ball</li>
        <li>The ability to defend well individually and in groups</li>
        <li>Advanced levels of tactical awareness</li>
    </ul>
</div>