@model TeamAdmin.Web.Models.AdminViewModels.Event
<div class="container">
    <h1>Add an Event</h1>
    <form asp-action="Add" name="myform" id="myform" method="post">
        <div class="form-horizontal">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="EventType" class="col-md-2 control-label">What *</label>
                <div class="col-md-10">
                    <select class="btn btn-default" id="eventtype" name="eventtype" asp-for="EventType" asp-items="Html.GetEnumSelectList<TeamAdmin.Core.EventType>()"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="col-md-2 control-label">Starts on/at *</label>
                <div class="col-md-10">
                    <input asp-for="StartDate" class="form-control" name="StartDate" id="StartDate" type="datetime-local" required value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-ddThh:mm") : DateTime.Now.ToString("yyyy-MM-ddThh:mm"))" />
                    <span asp-validation-for="StartDate" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="col-md-2 control-label">Ends on/at *</label>
                <div class="col-md-10">
                    <input asp-for="EndDate" class="form-control" name="EndDate" id="EndDate" type="datetime-local" required value="@(Model.EndDate.HasValue ? Model.StartDate.Value.ToString("yyyy-MM-ddThh:mm") : DateTime.Now.ToString("yyyy-MM-ddThh:mm"))" />
                    <span asp-validation-for="EndDate" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" id="TeamLabel">Teams *</label>
                <div class="col-md-10">
                    <select name="Teams" id="Teams" asp-items="@(new SelectList(Model.TeamList, "TeamId", "Name"))" asp-for="Teams" class="form-control" required></select>
                    <span asp-validation-for="Teams" class="text-danger" />
                </div>
            </div>

            <div class="form-group" id="OpponentGroup">
                <label class="col-md-2 control-label">Opponent *</label>
                <div class="col-md-10">
                    <select name="Opponent" id="Opponent" class="form-control"></select>
                    <span  class="text-danger" asp-validation-for="Opponent"/>
                </div>
            </div>

            <div class="form-group" id="TitleGroup">
                <label asp-for="Title" class="col-md-2 control-label">Title *</label>
                <div class="col-md-10">
                    <input asp-for="Title" class="form-control" style="max-width:100%" name="title" id="title" />
                    <span asp-validation-for="Title" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" style="max-width:100%" name="address" id="address" />
                    <span asp-validation-for="Address" class="text-danger" />
                </div>
            </div>
            <div class="form-group" id="mapHolder">
                <div class="col-md-2"></div>
                <div class="col-md-10" id="mapDiv">
                    <img id="map" class="img-responsive" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea autofocus class="form-control" name="description" id="body" rows="10" style="max-width:100%">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-2">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="EventId" />
    </form>

    <div>
        <a href="/admin/events">Back to List</a>
    </div>
</div>
    @section scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script>
            $(document).ready(function () {
                var GAME = 1, EXHIBITION_GAME = 6;
                var select2 = $('#Teams').select2();
                var opponent = $('#Opponent');
                var title = $('#title');
                var teamLabel = $("#TeamLabel");

                function setUpMultiSelection() {
                    if ($("#eventtype").val() == GAME || $("#eventtype").val() == EXHIBITION_GAME) {
                        console.log('game');
                        $("#OpponentGroup").show();
                        $("#TitleGroup").hide();
                        opponent.prop('required', true);
                        title.removeAttr("required");

                        if (!select2.val())
                        {
                            $("#Teams").removeAttr("multiple");
                            $("#Teams").prop('selectedIndex', -1);
                        }
                        else if (typeof select2.val() != "string" && select2.val().length > 1) {
                            console.log('clearing ' + select2.val().length);
                            select2.val(null).trigger("change");
                            $("#Teams").removeAttr("multiple");
                            $("#Teams").prop('selectedIndex', -1);                            
                        } else {
                            $("#Teams").removeAttr("multiple");                            
                        }
                        teamLabel.text("Team *");
                    }
                    else {
                        console.log('not game');
                        $("#OpponentGroup").hide();
                        $("#TitleGroup").show();
                        opponent.removeAttr("required");
                        title.prop('required', true);
                        $("#Teams").attr("multiple", "multiple");
                        teamLabel.text("Teams *");
                    }
                }

                $(function () {
                    var validator = $("#myform").submit(function () {
                        // update underlying textarea before submit validation

                    }).validate({
                        ignore: "",
                        rules: {
                            title: "required",
                            content: "required"
                        },
                        errorPlacement: function (label, element) {
                            label.insertAfter(element);
                        }
                    });
                    validator.focusInvalid = function () {
                        // put focus on tinymce on submit validation
                        if (this.settings.focusInvalid) {
                            try {
                                var toFocus = $(this.findLastActive() || this.errorList.length && this.errorList[0].element || []);
                                toFocus.filter(":visible").focus();
                            } catch (e) {
                                // ignore IE throwing errors when focusing hidden elements
                            }
                        }
                    }
                });

                $("#eventtype").change(function () {
                    setUpMultiSelection();
                });

                $("#address").on('input', updateMap);
                updateMap();
                setUpMultiSelection();
                function updateMap() {
                    if ($("#address").val().trim().length < 5) {
                        $("#mapHolder").attr("style", "display:none;");
                    } else {
                        $("#mapHolder").attr("style", "display:block;");
                        var src = "https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAzy5wXJVUmq5QGP1XilEOFKIl1lxaG1Z8&center=" + $("#address").val() + "&size=400x300&zoom=14&maptype=roadmap&markers=color:red|" + $("#address").val();
                        $("#map").attr("src", src);
                    }
                }
            });
        </script>
    }

    @section headerlinks{ <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" /> }
