<h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">Events</h2>
<div class="row">
    <div id="calendar"></div>
</div>

@section headerlinks{
<link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.theme.min.css" rel="stylesheet" />
<style>
    span.fc-day-number{
        color:black;
    }

    .fc-widget-content{
        background-color:white;
        color:black;
    }

    .fc-widget-header {
        background-color:darkred;
    }

    .fc-content-skeleton table{
        background-color:rgb(245,245,245);
    }

    .fc-content-skeleton table thead tr td.fc-day-top{
        border-left:solid 1px rgb(221, 221, 221);
        border-right:solid 1px rgb(221, 221, 221);
        border-top:solid 1px rgb(221, 221, 221);    
    }

    .fc-unthemed td.fc-today{
        border:solid 2px rgb(221, 221, 221);
    }

</style>
}

@section scripts {    
<script src="~/js/jquery-ui.min.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
            })

        });
    </script>
}