@model IEnumerable<TeamAdmin.Core.Team>
<h2>News</h2>
<hr />
<div class="btn-toolbar" role="toolbar"><a class="btn btn-default pull-right" asp-controller="AdminTeams" asp-action="NewTeam">Add a Team</a></div>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table  class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="bg-primary">
                    <th class="col-md-1 col-sm-1 col-xs-1">Id</th>
                    <th class="col-md-5 col-sm-5 col-xs-5">Name</th>
                    <th class="col-md-5 col-sm-5 col-xs-4">Display Name</th>
                    <th class="col-md-1 col-sm-1 col-xs-1">Players</th>
                    <th class="col-md-1 col-sm-1 col-xs-1">Edit</th>
                </tr>
            </thead>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@team.TeamId</td>
                    <td>@team.Name</td>
                    <td>@team.DisplayName</td>
                    <td class="text-center"><a href="/admin/teams/@team.TeamId/players"><i class="glyphicon glyphicon-user" data-toggle="tooltip" title="edit"></i></a></td>
                    <td class="text-center"><a href="/admin/teams/@team.TeamId"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="edit"></i></a></td>
                </tr>
            }
        </table>
    </div>
}
